#join {
	font-size: 12px;
	margin: 0;
}

.col{
    background-color: #ffffff;
    /* -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s; */
    width: 30%;
    text-align: center;
    padding: 4% 0;
  }

.col p{
    font-size: 1.3em;
    padding:0;
    margin:0;
}

.col i{
    font-size: 4em;
}

.myrow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

@media only screen and (max-width: 736px) {

    .myrow{
        flex-direction: column;
        margin : 0 auto;
        text-align: center;
        /* justify-content: space-between; */
        align-items :center;
    }

    .col{
        width : 70%;
        margin-bottom: 0.7em;
    }

}

.col2 p{
    justify-content: center;
    padding: 1% 3%;
    color: #6cc091;
}

.end{
    margin-top: 5%;
    text-align: center;
}

.col:hover ,.col2:hover{
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    transition: 0.8s ease-in-out;
    cursor:pointer;
}
